*{
    margin:0px;
    padding:0px;
}
#head{
    background-color: orange;
    height: 150px;
}
#body{
    background-color:black;
    height:2250px;
    width:100%;
    margin:0px auto;

}
#img1:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-0.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1px, 0.5px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-0.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1px, -0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(-0.5px, 0.5px) rotate(0deg); }
  100% { transform: translate(0.5px, -0.5px) rotate(-0.5deg); }
}
#head img
{
    height:120px;
    width:20%;
    margin-left: 3%;
    float: left;
}
#top{
    color:white;
    margin-left: 46%;
    font-size:56px;
    font-family: 'sans-serif;', monospace;
}
#top1{
    margin-left: 43%;
    color:black;
    font-size:55px;
    font-family: 'serif;', Bold;
}
#navbar img{
    display:block;
    width: 50px;
    height:50px;
    margin:auto;
    margin-bottom: 3px;
}
#navbar{
    display:flex;
    flex-direction: column;
    background-color: black;
    height: 18vh;
    width: 100%;
    font-family: 'Arial', Bold;
   border: 2px solid black;
   border-radius:15px;
}
#navcontent{
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li a{
    padding: 1px;
    color:white;
    background-color: black;
    text-decoration: none;
    border-radius:10px;
}
ul li a:hover{
    background-color: red;
    border-radius: 10px;
}#container1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:70vh;
}
#container1::before{
    content:'';
    background: url("New folder/first.jpeg") no-repeat center center/cover;
    width: 100%;
    height:70vh;
    position: absolute;
    top:0px;
    left: 0px;
    font-family: 'Ubuntu Mono', monospace;
    margin-right:45px;
    font-weight: bold;
    z-index: -1;
    opacity: 0.89;
    border: 2px solid black;
    border-bottom-left-radius: 100px;
}

#row1{
color:orange;
font-weight:bold;
font-size:2rem;
text-align:center;
margin-top:35px;
 

}
.btn{
    margin-top:15px;
    border: 3px solid yellow;
    border-radius:15px;
    background-color:yellow;
    font-size:20px;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}
.btn:hover{
    cursor: pointer;
    background-color: orange;
}


#container2{
    display: flex;
    justify-content: space-evenly;
}
#row2 img{
    width:24vw;
    height:24vh;
    float: left;
    box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     display: flex;
    justify-content: center;
     align-items: flex-end;
     position: relative;
     margin-right: 51px;
     border-radius: 40px;
}
#row2 img::before{
    content: '';
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:24vh;
    z-index: -1;
    border-radius: 22px;
}
#row3{
    margin-left: 50px;
    width: 45%;
}

#row3 img{
    position: relative;
    width: 24vw;
    height:24vh;
    float: right;
    display: flex;
    justify-content: center;
     align-items: flex-end;
     box-shadow: 2px 7px 16px 19px;
     margin-top:51px;
     margin-bottom: 51px;
     margin-left: 38px;
     border-radius: 40px;
}
#row3 img::before{
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    width: 24vw;
    height:24vh;
    z-index: -1;
    border-radius: 22px;
}

#top3{
    text-align:center;
    color:orange;
    font-family: initial;, monospace;
}
#footer{
    height: 90px;
    width: 100%;
    background-color: black;

}
#foot{
    font-size: 20px;
    font-family: monospace;
    color: white;
}
.heading
{
    font-size: 30px;
    text-align: center;
    color: coral;
    margin-top: 10px;
}

#content1
{
    width: 40%;
    height: 150px;
    background-color: black;
    float: right;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
    margin-left: 3%;
    border-radius:20px;
    margin-top: 100px;
}

#body img
{
    height:390px;
    width:50%;   
}

#content2
{
    width: 45%;
    height: 150px;
    background-color: black;
    color: white;
    float: left;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius:20px;
    margin-top: 100px;
}

#content3
{
    width: 46%;
    height: 150px;
    background-color: black;
    color: white;
    float:right;
    margin-bottom: 20px;
    font-size: 25px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius:20px;
     margin-top: 100px;
}
#content4
{
    width: 45%;
    height: 150px;
    background-color: black;
    color: white;
    float: left;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius:20px;
     margin-top: 100px;
}
#content5
{
    width: 45%;
    height: 150px;
    background-color: black;
    color: white;
    float:right;
    margin-right: 2%;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 2%;
    border-radius:20px;
     margin-top: 100px;
    
}
#button{
    font-size: 20px;
    color: black;
    border: 3px solid orange;
    border-radius:15px;
    background-color:orange;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}
#button:hover{
    cursor: pointer;
    background-color: white;
}
#body1{
    background-color:gray;
    height:1130px;
    width:100%;
    margin:0px auto;

}
#top4{
    text-align:left;
    margin-left: 3%;
    animation: running;
    animation-duration: unset;
    color:black;
    font-family: 'Ubuntu Mono', monospace;
}
#para{
    text-align: left;
    margin-left: 3%;
    font-size: 20px;
    margin-right: 3%;
}
#click{
    font-weight: bold;
    font-style: oblique;
    float: left;
    width: 52%;
    font-family:  'Ubuntu Mono', monospace;
}
#ig{
    float: left;
    margin-left:20%;
} 
#ig1{
    float: left;
    margin-left:20%;
} 

#body3{
    background-color:wheat;
    height:580px;
    width:100%;
    margin:0px auto;

} 
#content6
{
    width: 46%;
    height: 390px;
    background-color: wheat;
    float:left;
    margin-bottom: 20px;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius:20px;
} 
#h3{
    margin-left: 10%;
}
#but{
    font-size: 20px;
    color: black;
    border: 3px solid orange;
    border-radius:15px;
    background-color:orange;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    margin-left: 30%;
}
#but:hover{
    cursor: pointer;
    background-color: white;
}
#content7
{
    width: 45%;
    height: 390px;
    background-color: wheat;
    float: right;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius:20px;
}  
#slide{
    display: flex;
    justify-content: center;
} 
ul li{
    list-style: none;
    margin: 15px;
    border-radius: 20px;
}
ul li img{
    padding: 1px;
    color:white;
    background-color: black;
    text-decoration: none;
    border-radius:10px;
}
ul li img:hover{
    background-color: red;
    border-radius: 10px; 
}
#footer1{
    height: 320px;
    width: 100%;
    background-color: orange;

}

#footer1 img{
    height:130px;
    width:20%;
    margin-left: 7%;
    float: left;
    margin-top: 90px;
} 
#content8{
    color: black;
    float: right;
    width: 35%;
}
#content9{
    color: black;
    margin-left: 40%;
}
#content10{height:350px;width:100%;margin-top: 10px;} 
#body2{
    background-color:orange;
    height:1350px;
    width:100%;
    margin:0px auto;

} 
#content11
{
   background-color: orange;
    color: white;
    float: left;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 4%;
    margin-right: 2%;
    border-radius:20px;
    margin-top: 30px;
}
#content12
{
    
   color: white;
   background-color: orange;
    float: right;
    margin-top: 30px;
     margin-left: 2%;
    margin-right: 5%;
     font-size: 20px;

}
#content13
{
    
    background-color: orange;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius:20px;
    margin-top: 33px;
     
}
#content14
{
    
    background-color: orange;
    color: white;
    float: left;
    margin-bottom: 20px;
     font-size: 20px;
    margin-left: 4%;
    margin-right: 2%;
    border-radius:20px;
    margin-top: 30px;
    
}
#content15
{
    
   color: white;
   background-color: orange;
    float: right;
    margin-top: 30px;
     margin-left: 2%;
    margin-right: 5%;
     font-size: 20px;
      
}
#content16
{
    
    background-color: orange;
    color: white;
    margin-bottom: 20px;
     font-size: 20px;
    margin-left: 40%;
    margin-right: 40%;
    border-radius:20px;
    margin-top: 50px;
     
}
#content17
{
    
    background-color: orange;
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 25%;
    margin-right: 2%;
    border-radius:20px;
    margin-top: 30px;
    float: left;
    
}
#content18{
    margin-left: 50%;
    margin-right: 2%;
    margin-top: 50px;
     font-size: 20px;
     color: white;
     background-color: orange;
     
}
#content19
{
    
  float: right;
  margin-left: 10%;
  margin-right: 10%;
   font-size: 20px;
     color: white;
     background-color: orange;
     margin-top: 60px;
    
    
}
#content20{
   float: left;
    font-size: 20px;
     color: white;
     background-color: orange;
     margin-left: 10%;
     margin-top: 30px;
   
   
}
#content21{
    height: 30px;
    width: 30%;
    background-color: orange;
    color: white;
    font-size: 13px;
}
#content21{
    width:24vw;
    height:24vh;
    box-shadow: 2px 7px 16px 19px;
     margin-top:1px;
     margin-bottom: 20px;
     display: flex;
    justify-content: safe center;
     align-items: center;
     position: relative;
     float: left;
     margin-left: 38%;
     margin-right: 30%;
     border-radius: 42px;
    background: url('New folder/logo.jpg') no-repeat center center/cover;
}
    
}
#content21::before{
    content: '';
    background-color: orange;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:24vh;
    z-index: -1;
    border-radius: 22px;
}
#content22{
    width:24vw;
    height:24vh;
    box-shadow: 2px 7px 16px 19px;
     margin-top:1px;
     margin-bottom: 20px;
     display: flex;
    justify-content: safe center;
     align-items: center;
     position: relative;
     margin-right: 51px;
     border-radius: 42px;
     float: right;
     color: darkblue;
     background: url('New folder/te1.jpg') no-repeat center center/cover;
}
#content22::before{
    content: '';
    background: url('New folder/te1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:24vh;
    z-index: -1;
    border-radius: 22px;
}

#button1{
    font-size: 20px;
    color: white;
    border: 3px solid white;
    border-radius:15px;
    background-color:orange;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
}
#button1:hover{
    cursor: pointer;
    background-color: black;
}

}
#body4{
    background-color:whitesmoke;
    height:600px;
    width:100%;
    margin:0px auto;

} 
#contact{
    float: right;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
}
#map img{
    height: 400px;
    width: 40%;
    float: left;
    margin-left: 4%;
    margin-top: 7%;
}
#content10 img{
     height: 350px;
     border-radius: 20px;

}
.w3-animate-left{
    position:relative;
    animation:animateleft 0.3s
}
@keyframes animateleft{
    from{left:-150px;opacity:0} 
    to{left:0;opacity:1}
}
.w3-animate-right{
    position:relative;
    animation:animateright 0.3s
}
@keyframes animateright{
    from{right:-150px;opacity:0} 
    to{right:0;opacity:1}
}
.dropbtn1 {
  background-color: black;
  color: orange;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
  background-color: white;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  overflow: auto;
  box-shadow: 2px 8px 16px 15px rgba(5,5,5,5.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown1 a:hover {background-color: #ddd;}

.show1 {display: block;}
#content0{
    background-color: orange;
    color: white;
    height: 200px;
    width: 30%;

}
#content0{
    width:24vw;
    height:24vh;
    box-shadow: 2px 7px 16px 19px;
     display: flex;
    justify-content: safe center;
     align-items: center;
     position: relative;
     border-radius: 42px;
     color: black;
     background: url('New folder/te2.jpg') no-repeat center center/cover;
}
#content0::before{
    content: '';
    background: url('New folder/te2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left:0px;
    width: 24vw;
    height:24vh;
    z-index: -1;
    border-radius: 22px;
}
